<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        ul.nav-pills {
            top: 300px;
            left: -10px;
            position: fixed;
        }

        div.col-8 div {
            height: 80%;
        }
    </style>

</head>

{% extends "base.html" %}
{% block content %}

    <div id="body">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar-dark bg-dark col-sm-1 col-4" >
                    <ul style="text-align: right" class="nav nav-pills nav-stacked flex-column" data-offset-top="205">
                        {% for lab in labs %}
                                <li class="nav-item container-fluid" >
                                    <a class="nav-link" href="#{{ lab.code }}">{{ lab.name }}</a>
                                </li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="col-sm-11 col-8">
                    {% for lab in labs %}
                        <div id="{{ lab.code }}">
                            <h1 align="left">{{ lab.name }}</h1>
                            <p align="left">{{ lab.explanation }}</p>
                            <img align="right" width="50%" height="auto" src="{{ MEDIA_URL }}{{ lab.image }}">
                            <br>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}