{% extends "base.html" %}

{% block content %}













    <div align="center">
        <form style="width: 15%; height: 15%">
            <div class="form-group">
                <label align="left" for="İsminiz">İsminiz</label>
                <input type="password" class="form-control" id="İsminiz" placeholder="İsminiz">
            </div>
            <div class="form-group">
                <label for="InputEmail">E-Mail:</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                       placeholder="isim@örnek.com">
            </div>
            <div class="form-group">
                <label align="left" for="textarea">Sorunuz</label>
                 <textarea class="form-control" id="textarea" rows="3" placeholder="Sorunuz"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}