{% extends "base.html" %}

{% block content %}


    <div class="row">
        <div class="col-md-9">
                <h4 align="center" class="article_title">
                    <span id="ContentPlaceHolder1_lbl_atitle">Yeni Kayıt Yaptıracak Öğrencilerimiz için Bilgiler</span>
                </h4>
                <p align="center">
                    &nbsp;<u style="color: rgb(255, 0, 0);"><strong>KAYIT İÇİN GEREKLİ BELGELER</strong></u></p>
                <p>
                <div  style="margin-left: 20%">
                    <lu>
                        <li>ÖSYS Sonuç Belgesi</li>
                        <li>T.C. Kimlik No beyanı veya &nbsp;T.C.Kimlik No yazılı nüfus cüzdanı fotokopisi</li>
                        <li>Lise Diploması Aslı (Henüz alınmadı ise yeni tarihli mezuniyet belgesi)</li>
                        <li>Lise Diploması Aslı (Henüz alınmadı ise yeni tarihli mezuniyet belgesi)</li>
                        <li>Askerlik Belgesi (29 yaşından büyük erkek adaylar için askerlik şubelerinden alınacak olup,
                            29 yaşından küçük erkek adaylardan&nbsp;&nbsp;bu belge istenmeyecektir.)
                        </li>
                        <li>12 adet 4.5x6 ebadında fotoğraf (Fotoğraflar son altı ay içinde çekilmiş, önden görüntülü,
                            öğrenciyi kolaylıkla tanıtabilecek şekilde olmalıdır.)
                        </li>
                        <li>Normal öğrenim ögrencileri herhangi bir ücret ödemeyeceklerdir, ikinci öğretim ve uzaktan
                            öğretim öğrencileri ders kayıtlarını yaptırırken ödeyeceklerdir. &nbsp;Öğrencilerimiz yurt
                            genelinde herhangi bir&nbsp;Garanti Bankası Şubesinde&nbsp;öğrenci numaralarını söyleyerek
                            öğrenim ücretlerini yatırabileceklerdir.
                        </li>
                    </lu>
                </div>
                <br>


               <p align="center"><strong> MUĞLA SITKI KOÇMAN ÜNİVERSİTESİ FAKÜLTE / YÜKSEKOKUL / MESLEK YÜKSEKOKULLARI&nbsp;</strong></p>

                <table align="center" border="1" cellpadding="0" cellspacing="0"
                       class="table table-bordered table-hover"
                       style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; width: 847px; max-width: 100%; margin-bottom: 20px; border: 1px solid rgb(221, 221, 221); color: rgb(85, 85, 85); font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 15px; line-height: 21px; text-align: justify;"
                       width="100%">
                    <tbody style="box-sizing: border-box;">
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
				<span style="color:#000000;"><span
                        style="box-sizing: border-box; font-weight: 700;">FAKÜLTELER</span></span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
				<span style="color:#000000;"><span
                        style="box-sizing: border-box; font-weight: 700;">TEL. NO</span></span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Edebiyat Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2113124-0 252 211 5033 - 0 252 211 1660</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Eğitim Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2111645</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Fethiye İşletme Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2115419</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">&nbsp;Fen Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2115105</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Bodrum Güzel Sanatlar Fak.&nbsp;</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2113223</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">İktisadi İdari Bilimler Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2111448 - 0252 211 1449 - 0252 2111445 - 0252 2115065</span>
                        </td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Mühendislik Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <p style="box-sizing: border-box; margin: 0px 0px 10px; line-height: 1.75;">
                                <span style="color:#000000;">0 252 2111930 - 0 252 2111939</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Sağlık Bilimleri Fakültesi</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;"><span
                                    style="line-height: 21.4285px;">0 252 211 2238</span></span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Spor Bilimleri Fakültesi</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2111869</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Su Ürünleri Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2111889</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Teknoloji Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2111746</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Tıp Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2114882</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Turizm Fak.</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2111865 - 0252 2111858 - 0252 2111853</span></td>
                    </tr>
                    </tbody>
                </table>
                <table border="1" cellpadding="0" cellspacing="0" align="center"
                       class="table table-bordered table-hover"
                       style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; width: 847px; max-width: 100%; margin-bottom: 20px; border: 1px solid rgb(221, 221, 221); color: rgb(85, 85, 85); font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 15px; line-height: 21px; text-align: justify;"
                       width="100%">
                    <tbody style="box-sizing: border-box;">
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
				<span style="color:#000000;"><span
                        style="box-sizing: border-box; font-weight: 700;">YÜKSEKOKULLAR</span></span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
				<span style="color:#000000;"><span
                        style="box-sizing: border-box; font-weight: 700;">TEL. NO</span></span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Dalaman sivil Havacılık Yüksekokulu</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 211 5415</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Fethiye Sağlık Yüksekokulu</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 211 1326 -0 252 211 1332-&nbsp;0 252 211 4993</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Sıtkı Koçman Yabncı Diler Yüksekokulu</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 211 1315</span></td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" border="1" cellpadding="0" cellspacing="0"
                       class="table table-bordered table-hover"
                       style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; width: 847px; max-width: 100%; margin-bottom: 20px; border: 1px solid rgb(221, 221, 221); color: rgb(85, 85, 85); font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 15px; line-height: 21px; text-align: justify;"
                       width="100%">
                    <tbody style="box-sizing: border-box;">
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;"><span style="box-sizing: border-box; font-weight: 700;">MESLEK YÜKSEKOKULLAR</span></span>
                        </td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
				<span style="color:#000000;"><span
                        style="box-sizing: border-box; font-weight: 700;">TEL. NO</span></span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Bodrum Denizcilik MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2115459</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Dalaman MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2112247</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Datça Kazım Yılmaz MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2113248</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Fethiye Ali Sıtkı Mefaret Koçman MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2112245</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Fethiye Sağlık Hizmetleri MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2115125</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">İçmeler Turizm MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2115494</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Köyceğiz MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2113255</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Milas Sıtkı Koçman MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2112264</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Muğla MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2112178&nbsp;&nbsp;-&nbsp; 0 252 2112170</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Ortaca MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2112246</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Sağlık Hizmetleri MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2111342</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Ula Ali Koçman MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2115130</span></td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">Yatağan MYO</span></td>
                        <td style="box-sizing: border-box; padding: 8px; line-height: 1.42857; vertical-align: top; border: 1px solid rgb(221, 221, 221);">
                            <span style="color:#000000;">0 252 2113294</span></td>
                    </tr>
                    </tbody>
                </table>

        </div>


        <div style="margin-right:26.5%" class="container">
            <h1> Bize Soru Sorun</h1>
            <form action="." method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                        <div class="col-sm-10">
                            {{ field.label_tag }}<br>
                            {{ field }}
                        </div>
                        </p>
                    {% endfor %}
                    <div class="col-sm-10">
                        <input type="submit" value="Sorunu Yolla"/>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}