{% extends "base.html" %}

{% block content %}

<h1>CENG 3507 REPORT PAGE</h1>
<h2>Group members: Ozan Kahramanoğlu, Ahmet Önder Gür</h2>
<h2>Core requirements</h2>

<h3>Adapt a tamplate</h3>
<p>We extend base.html in all pages</p>

<h3>Define your models</h3>
<p>We create lecture, lecturer, lab, comment models in our project.<br>
    lecture and lecturer models are bonded with ForeignKey<br>
    Also lecture and lab models are bonded with ForeingKey</p>

<h3>Dynamic pages</h3>
<p>Almost all pages are dynamically created by Django. <br>
    <a href="/lectures/firstclass/">/lectures/firstclass</a>, secondclass ext. pages, <a href="/lecturers/">/lecturers page</a>, <br>
    <a href="lectures/detail/ceng-1003">/lectures/detail</a> and <a href="/lab">/lab</a> page are dynamically created.</p>

<h3>Using an HTML Table</h3>
<p>In <a href="lectures/detail/ceng-1003">/lectures/detail</a> and in <a href="/candidate/">/candidate/</a> page we used HTML table to place attributes.</p>

<h3>Forms</h3>
<p>In <a href="/developers/">/developers</a> page we used a form. <br>
We store the content of the form in the database with comment model.<br>
    Also in the <a href="/candidate/">/candidate</a> page we used a form for the questions from candidate studens.<br>
Also stored this form content in the database with question model.</p>

<h2>Additional Features</h2>
<h3>Customization of template</h3>
<p>We used mostly Bootstrap v4 features. Also find some additional custom cards. ext. <br>
Edited Bootstrap items as necessary.(cards, nav-bar, icons, buttons)<br>
In our nav-bar as site icon we used only text but as font we used Ubuntu from Google Fonts <br>
Also in <a href="/lectures/detail/ceng-1003">/lectures/detail</a>
 pages we used extra font from Google Fonts <br>
In <a href="/lecturers">lecturers</a> page we used Font Awesome for icons</p>

<h3>More Models</h3>
<p>We create lecture, lecturer, lab, comment models in our project.<br>
    lecture and lecturer models are bonded with ForeignKey<br>
Also lecture and lab models are bonded with ForeignKey</p>
<p>in lecture model we used code attribute as primary key to access this item easyly later,<br>
    used an imageField to use it in the <a href="/lectures/firstclass/">/lectures/...</a> pages<br>
in lecturer attribute we used ForeingKey to access lecturers.<br>
also used charField, choices, textField and String representation</p>
<p>in lecturer model additionally we used EmailField and TextField with URLValidator</p>
<p>We created also comment model for storing form data from the <a href="/developers/">/developers page</a>.</p>

<h3>Form API</h3>
<p>We created 2 forms <br>
    One in <a href="/developers/">/developers</a> page for communication.<br>
One in <a href="/developers/">/candidate</a> page for questions from candidate students.<br>
All form content datas are stored in the database</p>

<h3>Content Coverage</h3>
<p>We added mostly all lectures from curriculum as we know <br>
But we add in the database mostly only Computer Engineering lecturers <br>
    Because we are only showing them in <a href="/lecturers/">/lecturers page</a></p>

<h3>More Dynamic Content</h3>
<p>In <a href="/lectures/firstclass/">lectures/firstclass</a>, secondclass ext. pages we filtered lectures in the view of the page with filter() method <br>
    In <a href="/lecturers/">/lecturers</a> page we filtered lectures that given by lecture in the template with querySets<br>
We access lectures, bonded with ForeignKey<br>
    Also used same filtering method addition to filtering in view for <a href="/lectures/detail/ceng-1005">/detail/..</a> pages and in <a href="/lab">/lab</a> page </p>



{% endblock %}