{% extends "base.html" %}


{% block content %}
<div class="row">
    {% for lecturer in lecturers %}
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top"
                 src="{{ MEDIA_URL }}{{ lecturer.image }}">
            <div class="card-block">
                <h4 class="card-title mt-3">{{lecturer.title}} {{lecturer.name}} {{lecturer.surname}}</h4>
                <div class="meta">
                    {{lecturer.aciklama}}
                </div>
            </div>
            <div class="card-footer">

                Buraya buton koy

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
