<head>
    <style>
     h4{
        text-align: center;
     }

     .card{
        margin-bottom: 10px
     }

     .card-img-top{
        height: 60%;
     }


     .card-block{
        height: 80px;
        background-color: lightblue;
     }

     .card-footer{
        text-align: center;
     }

    </style>
</head>

{% extends "base.html" %}
{% block content %}
<div class="row">
    {% for lecturer in lecturers %}
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top"
                 src="{{ MEDIA_URL }}{{ lecturer.image }}">
            <div class="card-block">

                <h4 class="card-title mt-3">
                    <i class="fa fa-heart" aria-hidden="true"></i>

                    {{lecturer.title}} {{lecturer.name}} {{lecturer.surname}}</h4>
            </div>
            <div class="card-footer">
                <!--verdigi dersler-->
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Verdiği Dersler
                    </button>
                    {% with lectures_querry=lecturer.lecture_set.all %}
                    <div class="dropdown-menu">
                        {% for lecture in lectures_querry %}
                        <a class="dropdown-item" href="{% url 'details' lecture.code|slugify %}">{{lecture.name}}</a>
                        {% endfor %}
                    </div>
                    {% endwith %}
                </div> <br>
                <!---->
                <a href="{{lecturer.web_site}}"> <i class="fa fa-id-card-o fa-2x" aria-hidden="true"></i> </a>
                <a href="mailto:{{lecturer.e_mail}}"> <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> </a>


            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
