{% extends "base.html" %}

{% block content %}

{% for i in lectures %}
    {{i.code}}
{% endfor %}


<div class="card" style="width: 20rem;">
    {% load static %}
    <img class="card-img-top" src="{% static "/app_lecture/dersler.jpg" %}" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

{% endblock %}