{% extends "base.html" %}

{% block content %}
<div class="card-columns">
    {% for lecture in lectures %}
    <div class="card ">
        <div id="card-resim">
            <img class="card-img-top img-fluid rounded" src="{{ MEDIA_URL }}{{ lecture.image }}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">{{lecture.name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{lecture.code}}</h6>
            <p class="card-text"><br>
            </p>
        </div>
        <div class="card-footer">
            <a href="{% url 'details' lecture.code|slugify %}" class="btn btn-primary">Açıklama Sayfasına Git</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}